<h1>Welcome to Texas Boat Renting Service! </h1>

<div class="clearfix"></div>

<div class="">
  [ search bar here ]

  <%= form_tag(boats_path, :method => "get", id: "search-form") do %>
      <select id="states-of-country" name="state">
        <option id="no-state" value="" selected>Search By State</option>

        /* For states within US */
        <% CS.states(:us).each do |key, value| %>
            <option value="<%= value %>" id="<%= key %>"><%= value %></option>
        <% end %>
      </select>

      <select id="cities-of-state" name="city">
        <option value="" selected>Search By City</option>
      </select>
      <%= number_field_tag :capacity, params[:capacity], placeholder: "Search By Capacity" %>
      <%= submit_tag "Search" %>
  <% end %>



</div>

<br>
Feature Boats:

<div class="boat_panel" >
&nbsp;
&nbsp;
  <% @boats.limit(8).each_slice(4).each do |group| %>
      <% group.each do |boat| %>
      &nbsp;
          <% if boat.id !=nil %>
              <%= link_to image_tag(boat.boat_attachments[0].image.url, height: 200, width: 300,:style => "border: 2px solid white"), boat %>
          <% end %>
      <% end %>
      <br>
      <br>
  <% end %>
</div>