<div class="home-page">
</div>
    <div class="search">
      <div class="middle-me">
        <div class="search-text">
            <h2>your adventure starts here...</h2>
        </div>
    <!-- Search Bar Here -->

        
        <%= form_tag(boats_path, :method => "get", id: "search-form", class:"form-inline") do %>
        
            <div class="form-group">
                <select id="states-of-country" class="form-control" name="state">
                    <option id="no-state" value="" selected>Search By State</option>

                    /* For states within US */
                    <% CS.states(:us).each do |key, value| %>
                        <option value="<%= value %>" id="<%= key %>"><%= value %></option>
                    <% end %>
                </select>
            </div>
            <div class="form-group">
                <select id="cities-of-state"  class="form-control" name="city">
                    <option value="" selected>Search By City</option>
                </select>
            
            </div>
            <div class="form-group">
            
        
                <div class="input">
                <%= number_field_tag :capacity, params[:capacity], placeholder: "Search By Capacity", class:"form-control" %>
                    
                        <%= submit_tag "Search", class:"btn btn-default" %>
                
                </div> 
            </div>
        <% end %>
      </div>
    </div>

    <p class="search-clear">
    Feature Boats:
    </p>
    <div class="boat_panel" >
    &nbsp;
    &nbsp;
    <% @boats.limit(8).each_slice(4).each do |group| %>
        <% group.each do |boat| %>
        &nbsp;
            <% if boat.id !=nil %>
                <%= link_to image_tag(boat.file_link.split(',')[0], height: 200, width: 300,:style => "border: 2px solid white"), boat %>
            <% end %>
        <% end %>
        <br>
        <br>
    <% end %>
    </div>
