<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://bxslider.com/lib/jquery.bxslider.js"></script>
    <script> 
      $(document).ready(function(){
        $("#myinput").click(function(){
            $("#panel").slideToggle("slow");
        });
    });
    </script>

    <style> 
    #panel, #flip {
        padding: 5px;
        text-align: center;
        <%# background-color: #e5eecc; %>
        border: solid 1px #c3c3c3;
    }

    #panel {
        padding: 50px;
        display: none;
    }
    </style>
  </head>
<body>


<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
<%= devise_error_messages! %>
  
<div style="flex-wrap: wrap">
  <div style="flex-grow: 1;">
    <div class="form-group">
      <%= f.label :first_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>
    </br>

    <div class="form-group">
      <%= f.label :last_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>
    </br>


    <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.email_field :email, class: "form-control" %>
    </div>
</div>
</br>

<div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
</div>
</br>

<div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
</div>

<div class="form-group">
  <%= f.label :address_line1, class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= f.text_field :address_line1, class: "form-control" %>
  </div>
</div>

    <div class="form-group">
      <%= f.label :address_line2, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :address_line2, class: "form-control" %>
      </div>
    </div>
    </br>

    <div class="form-group">
      <%= f.label :city, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :city, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :state, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :state , class: "form-control" %>
      </div>
    </div>
    </br>

    <div class="form-group">
      <%= f.label :zip_code, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :zip_code, class: "form-control" %>
      </div>
    </div>
    </br>
  </div>
  <div style="flex-grow: 1;">
    <div class="form-group">
      <%= f.label :isCaptain, class: "col-sm-2 control-label" %>
      <div class="col-sm-6" id="myinput">
        <%= f.check_box(:isCaptain)%> Register as a certified captain
        <%# <div id="flip">Click to slide the panel down or up</div> %>
      </div>
      <div class="col-sm-6" id="panel">
        <%= render(:partial => 'captain', :locals => {:s => f}) %>
      </div>
    </div>
  </div>
</div>
    </br>

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= render "devise/shared/links" %>
    </div>
</div>

<% end %>

</body>
</html>

