
<%= form_for(@rent, html: {class: 'form-horizontal'}) do |f| %>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <strong>Hire a Captain?</strong><br>
      </div>
            <div class="col-sm-6">
              <% if params[:with_captain]== "yes" %>
                <input type="radio" name="with_captain" value="yes" checked="checked" > Yes<br>
                <input type="radio" name="with_captain" value="no"  %>   No<br><br>
              <% else %>
                <input type="radio" name="with_captain" value="yes"  > Yes<br>
                <input type="radio" name="with_captain" value="no"  checked="checked">   No<br><br>
               <% end %>
            </div>
            </p>
    </div>

    <%= hidden_field_tag "available_date", session[:boat_available_date], { :id => "available-date" } %>
    <%= hidden_field_tag "chosen_date", params[:chosen_date], { :id => "chosen-date" } %>

    <div class="form-group">
      <%= f.label :Date_Required, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
            <div id="datepicker">
              <script type="text/javascript">
                  $('#datepicker').on('changeDate', function() {
                      $('#date_required').val(
                          $('#datepicker').datepicker('getFormattedDate')
                      );
                  });
              </script>
            </div>

        </div>
      <input type="hidden" id="date_required" name="rent[date_required]">
    </div>
    </br>

    <div class="form-group">
      <%= f.label :comments, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
          <%= f.text_area :comments, class: "form-control" %>
      </div>
  </div>
    </br>

    <div class="form-buttons">
      <div class="col-sm-4 control-label">
          <%= f.submit("Confirm Rent") %>
      </div>
    </div>

    <% end %>
