
<%= form_for(@rent, html: {class: 'form-horizontal'}) do |f| %>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <strong>Hire a Captain?</strong><br>
      </div>
            <div class="col-sm-6">
                <input type="radio" name="with_captain" value="yes" checked = <%= params[:with_captain]== "yes" %> > Yes<br>
                <input type="radio" name="with_captain" value="no" checked = <%= params[:with_captain]== "no" %> >  No<br><br>
            </div>
            </p>
    </div>

    <%= hidden_field_tag "available_date", session[:boat_available_date], { :id => "available-date" } %>

    <div class="form-group">
      <%= f.label :Date_Required, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
            <div id="datepicker">
            </div>

        </div>
    </div>
    </br>

    <div class="form-group">
      <%= f.label :comments, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
          <%= f.text_area :comments, class: "form-control" %>
      </div>
  </div>
    </br>

    <div class="form-buttons">
      <div class="col-sm-4 control-label">
          <%= f.submit("Confirm Rent") %>
      </div>
    </div>

    <% end %>
