<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        
        <span class="navbar-text">
            <%= link_to "Home", root_path, class: "bg-primary text-white"%>
        </span>

        <span class="navbar-text">
            <a class="bg-primary text-white"  href="#">Rent Boat</a>
        </span>

        <span class="navbar-text">
            <%= link_to "Post Boat", boats_path, class: "bg-primary text-white"%>
        </span>

        <span class="navbar-text nav navbar-nav navbar-right">
           <% if !user_signed_in? %>
            <%= link_to "Login", new_user_session_path, class: "bg-primary text-white"%>
           <%end%> 
        </span>

         <span class="navbar-text nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "bg-primary text-white"%>
            <%else%>
                <%= link_to "Sign Up", new_user_registration_path, class: "bg-primary text-white"%>
            <%end%>
        </span>


    </div>
</nav>