<%= form_for(@boat_attachment) do |f| %>
  <% if @boat_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat_attachment.errors.count, "error") %> prohibited this boat_attachment from being saved:</h2>

      <ul>
      <% @boat_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag @boat_attachment.image %>
    <%= form_for(@boat_attachment) do |f| %>
        <div class="field">
          <%= f.label :image %><br>
          <%= f.file_field :image %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>

  <div class="field">
    <%= f.label :boat_id %><br>
    <%= f.number_field :boat_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
