<p id="notice"><%= notice %></p>

<h1>Listing Boats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boats.each do |boat| %>
      <tr>
        <td><%= boat.name %></td>
        <td><%= boat.description %></td>
        <td><%= image_tag boat.boat_attachments[0].image.thumb.url %></td>
        <td><%= link_to 'Details', boat %></td>
        <% if boat.ownerid==current_user.id %>
        <td><%= link_to 'Edit', edit_boat_path(boat) %></td>
        <td><%= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <p>

    </p>
  </tbody>
</table>

<br>

<%= link_to 'New Boat', new_boat_path %>
