<h1>New Boat</h1>

<%= form_for(@boat, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
    <div class="field">
      <%= f.label :avatar_url %><br>
      <%= f.file_field :avatar_url, :multiple => "multiple"%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back', boats_path %>
