<p id="notice"><%= notice %></p>

<p align="center">
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p align="center">
  <strong>Owner:</strong>
  <%= @boat.ownerid %>
</p>

<p align="center">
  <strong>Description:</strong>
  <%= @boat.description %>
</p>


<p align="center">
  <strong>Available Date:</strong>
  <%= @boat.available_date %>
</p>


<ul class="bxslider">
  <% @boat_attachments.each do |p| %>
      <li><%= image_tag p.image_url%></li>
  <% end %>
</ul>

<p align="center">
  <strong>Video:</strong><br/>
  <%= video_tag @boat.video_url.to_s, :controls =>true %>

</p>

<p align="center">
<% if @boat.ownerid==current_user.id %>
<%= link_to 'Edit', edit_boat_path(@boat) %> |
<% end %>
<%= link_to 'Back', boats_path %>
</p>