<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @boat.description %>
</p>


<div class="bxslider">
  <% @boat_attachments.each do |p| %>
      <%= image_tag p.image_url%>
  <% end %>
</div>

<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
