<p id="notice"><%= notice %></p>

<div class="media-post-page">
  <ul class="bxslider" >
    <% @boat_attachments.each do |p| %>
        <li><%= image_tag p, :controls =>true%></li>
    <% end %>
    <% if @boat.video_link != "" %>
        <li><video width="320" height="240" controls>
          <source src=<%= @boat.video_link.to_s%> type="video/mp4" autoplay="autoplay" loop="loop">
        </video></li>
    <% end %>
  </ul>
</div>


<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-5">
    <table class="post-page-table">
      <tbody>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= @boat.name %></td>
      </tr>
      <tr>
        <td><strong>Owner:</strong></td>
        <td><%= @boat.owner_name %></td>
      </tr>

      <tr>
        <td><strong>Dimensions:</td>
        <td>
          <%= @boat.width %> X
          <%= @boat.depth %> X
          <%= @boat.height %> ft.

        </td>
      </tr>

      <tr>
        <td><strong>Driven in:</strong></td>
        <td><%= @boat.water %></td>
      </tr>

      <tr>
        <td><strong>Capacity:</strong></td>
        <td><%= @boat.capacity %></td>
      </tr>

      <tr>
        <td><strong>State:</strong></td>
        <td><%= @boat.state %></td></tr>
      <tr><td><strong>City:</strong></td>
        <td><%= @boat.city %></td>
      </tr>


      <tr>
        <td><strong>Description:</strong></td>
        <td><%= @boat.description %></td>
      </tr>
      </tbody>
    </table>



  </div>


  <div class="col-xs-5">
    <%= form_tag(new_boat_rent_path(@boat), method: "get") do%>
        <p class="rentoption">

          <strong>Dates Available </strong>

          <%= hidden_field_tag "available_date", @boat.available_date, { :id => "available-date" } %>

        <div id="datepicker">
          <script type="text/javascript">
              $('#datepicker').on('changeDate', function() {
                  $('#boat_chosen_date').val(
                      $('#datepicker').datepicker('getFormattedDate')
                  );
              });
          </script>
        </div>
        <input type="hidden" id="boat_chosen_date" name="chosen_date">

        <%= submit_tag("Rent", :type => :image, :src => "/assets/rent-now-button.png", :class => "rentbutton", :width => "15%") %>
        </p>

    <% end %>
  </div>
</div>

<div class="post-page-lower">
  <%= commontator_thread(@boat) %>
  <% if @boat.ownerid==current_user.id %>
      <%= link_to 'Edit', edit_boat_path(@boat) %> |
  <% end %>
  <%= link_to 'Back', boats_path %>
</div>