<p id="notice"><%= notice %></p>

<p align="center">
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<% if current_user.first_name!='' %>
<p align="center">
  <strong>Owner:</strong>
  <%= @boat.owner_name %>
</p>
<% end %>

<p align="center">
  <strong>Description:</strong>
  <%= @boat.description %>
</p>


<p align="center">
  <strong>Available Date:</strong>
  <%= @boat.available_date %>
</p>


<ul class="bxslider">
  <% @boat_attachments.each do |p| %>
      <li><%= image_tag p.image_url%></li>
  <% end %>
</ul>

<% if @boat.video_url!=nil %>
<p align="center">
  <strong>Video:</strong><br/>
  <%= video_tag @boat.video_url.to_s, :controls =>true %>
</p>
<% end %>

<p align="center">
  <%= commontator_thread(@boat) %>

<% if @boat.ownerid==current_user.id %>
<%= link_to 'Edit', edit_boat_path(@boat) %> |
<% end %>
<%= link_to 'Back', boats_path %>
</p>