<!DOCTYPE html>
<html>
<head>
  <title>BoatRentalWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# <%= image_tag("ocean.jpg")%> 

    
<div class="background_image">
    

  <%= render partial: "shared/navbar"%>

  <div class="container">
    <% if notice %> <div class="alert alert-info"><%= notice %></div><%end%>
    <% if alert %><div class="alert alert-warning"><%= alert %></div><%end%>
  </div>
  <%= yield %>
</div>

</body>
</html>
